*
{
	margin:0px;
	padding:0px;
}
.text{
	font-size:35pt;
    float:right;
    margin-right: 80px;
    margin-top:550px;
    color:white;
    font-family: "BatmanForeverAlternate";
    
 }
.fixed-bg {
    background-image: url("details.jpg");
    min-height: 800px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
body{
	background-color:black; 
}
.container{
	background-color: #1c90ce;
	width: 100%;
}
.wrapper{
	margin-bottom: 0px;
	width: 100%;
}
img.pos{
	margin-top: 0mm;
	width: 100%;height:100%;
}
h1{
	font-size: 48pt;
	color:white;
	text-align: left;
	margin-left: 4mm;
}
h2{
	font-size: 24pt;
	color: white;
	margin-left: 4mm;
	letter-spacing: 1px;


}
#line{
     margin-left:45px;
     width:220px;
}



#logo_left{
	display: inline-block; 
}
#logo_right{
	float: right;
	margin-top: 4mm;
	margin-left: 5mm;
}
#top_div{
	line-height: 180px;
	height: 180px
}
#top_mark{
	height: 40px;
	line-height: 0px;
}

ul{
	margin: 0px; padding: 0px;
	list-style-type: none;
	overflow: hidden;  
}
a:link,a:visited{
	font-weight:bold;
	text-decoration:none;
	color: white;
	display: block;
	width: 170px;
	text-align: center;
	padding: 16px;
}
ul li{
	
	float: left;
	width: 190px;
	height: 50px;	
	background-color: black;
	font-size: 18pt;
	line-height: 50px;
	text-align: center;
}
ul li a:active{
	top:2px;
}
ul li a:hover{
	background-color:#1c90ce;
	padding: 25px;
	line-height: 6px;

}
.par{
	background-color:#21c682;
	color:white;
	padding:20px;
}
#why{
	color: white;
	background-color:black ;
	padding-top: 0px;
}
#About{
        color: white;
	background-color:black ;
	padding-top: 0px;
}
#address{
	color: white;
	background-color:#74847c ;
	padding-top: 0px;
}
#mark{
	text-align: center;
	background-image: url(https://media.giphy.com/media/pco1RBG7k47f2/giphy.gif);
	padding-top: 19px;
	padding-bottom: 19px;
	font-size: 20pt;
	padding-left: 20px;
	padding-right: 20px;
	font-family: "Rayyan CFC";
        color:white;
        width: 50%;
        margin-left: 300px;


}

ol li{
	text-align: center;
	text-decoration:none;
	font-size: 14pt;
	color:white;
	background-color:black;
	padding-top:16px; 
	padding-bottom:16px;
	font-weight:bold;
	font-family: "Papyrus";
	

	display: block; 
}
ol li:hover{
	background-color:#1c90ce ;
}
p{
	text-align: center;
	font-size: 14pt;
	margin-top: 7mm;
	padding-bottom: 7mm;
	font-family: "Papyrus";
	font-weight:bold;

}
footer{
background-color: black;
color:white;
padding-top: 12px;
padding-bottom: 8px;
text-align: center;
font-size:8pt;
}
#con{
	text-align: center;
	text-decoration:none;
	font-size: 14pt;
	color:white;
	background-color:black;
	padding-top:9px; 
	padding-bottom:9px;
	font-family: "BatmanForeverAlternate";
}
.hi{
	color: white;
	background-image: url(https://media.giphy.com/media/pco1RBG7k47f2/giphy.gif); ;
	padding-top: 0px;
	background-size: cover;
}
#copyright{
        width:100%;
        padding-top:0px;
}
#team{
	text-align: center;
	background-color: #1c90ce;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 20pt;
	font-family: "Rayyan CFC";


}


/*  Style the Images  */

ul.img-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

ul.img-list li {
  display: inline-block;
  height: 300px;
  margin: 0 0em 0em 0;
  margin-left: 7mm;
  position: relative;
  width: 300px;
}


ul.img-list img {
    border-radius: 60%;
}


/*  Place the text over the images       */
span.text-content {
  background: rgba(0,0,0,0);
  color: white;
  cursor: pointer;
  display: table;
  height: 150px;
  left: 0;
  position: absolute;
  top: 0;
  width: 150px;
  border-radius: 50%;
  font-size: 20px;
  font-family: "Times New Roman", Georgia, Serif;
}

span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;

}

#map{
	height: 500px;
	width: 100%;
}


/*Show the text on hover */

span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 300px;
  width: 300px;
  opacity: 0;
}

ul.img-list li:hover span.text-content {
  opacity: 1;
}

/*    Add the animation   */
span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 300px;
  left: 0;
  position: absolute;
  top: 0;
  width: 300px;
  opacity: 0;
  -webkit-transition: opacity 1000ms;
  -moz-transition: opacity 1000ms;
  -o-transition: opacity 1000ms;
  transition: opacity 1000ms;
}
